<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlowCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FlowCalc.Properties.Settings>
            <setting name="PumpDefinitionPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SuctionPipeDiameter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SuctionPipeLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SystemPressure" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableSuctionPressureDrop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PumpSearchPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CalcPipeDiameter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CalcPipeLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FittingsSearchPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PumpHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </FlowCalc.Properties.Settings>
    </userSettings>
</configuration>