<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="csmatio" version="1.0.20" targetFramework="net461" />
  <package id="MathNet.Numerics" version="5.0.0-beta01" targetFramework="net461" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="PDFsharp" version="1.51.5185-beta" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" requireReinstallation="true" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net461" />
</packages>